.body{
    margin:10px;
}
.body-input{
    margin: auto;
    width: 80%;
    border: 3px solid #73AD21;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.body-input-select select{
 height:40px;
 font-size: 18px;
 width:200px;
 margin:10px;
 border-radius:5px;

}

.option-default{
    color:grey;
}
.option-regular{
    color:black;
}
.prevent-click{
    pointer-events: none;
}